@use "../../sassStyles/functions" as functions;
@import "../../sassStyles/mixins";
@import "../../sassStyles/variables";

.card-container {
  width: 384px;
  height: 611px;
  background: $darkGrey;
  padding: functions.toRem(40);
}

.avatar {
  border-radius: 50%;
  @include widthHeight(88, 88);
}

.card-title {
  color: $white;
  text-align: center;
  font-family: Inter;
  font-size: functions.toRem(14);
  font-style: normal;
  font-weight: 700;
  line-height: functions.toRem(21);
  margin-top: functions.toRem(12);
  margin-bottom: functions.toRem(12);
}
#location {
  color: $green;
}
.card-user-summary {
  margin-top: functions.toRem(12);
  margin-bottom: functions.toRem(12);
  color: $white;
  text-align: center;
  font-family: Inter;
  font-size: functions.toRem(14);
  font-style: normal;
  font-weight: 400;
  line-height: functions.toRem(21);
}
.links-section {
  margin-top: functions.toRem(12);
  display: grid;
  gap: functions.toRem(16);
}

.link-bar {
  color: $white;
  padding: functions.toRem(12);
  border-radius: functions.toRem(8);
  text-align: center;
  font-family: Inter;
  font-size: functions.toRem(14);
  font-style: normal;
  font-weight: 700;
  line-height: functions.toRem(21);
  background: $grey;
  cursor: pointer;

  &:hover {
    background: $green;
    color: $grey;
  }
}
