@use "../../sassStyles/functions" as functions;
@import "../../sassStyles/mixins";
@import "../../sassStyles/variables";

.card-container {
  width: 384px;
  height: 611px;
  border: 1px pink solid;
  background: $darkGrey;
  padding: functions.toRem(40);
}

.avatar {
  border-radius: 50%;
  @include widthHeight(88, 88);
}
