@import "../sassStyles/_variables.scss";

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: $violet;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $white;
}

.footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: auto;
  height: 2.5rem;
}

.attribution {
  color: $white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  width: 100%;
}
